<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Han Data Center</title>
  </head>
  <body>
    <h1>Han Data Center</h1>
    <form action="/Non-Labelled" method="get">
    <button>Non-Labelled</button>
    </form>
    <form action="/Labelled" method="get">
    <button>Labelled</button>
    </form>
    <form action="/Verified" method="get">
    <button>verified</button>
    </form>
  </body>
</html>
